*{
    box-sizing: border-box;
}
h1{
    margin: 100px;
    text-align: center;
    font-weight: bold;
    font-size: 175%;
}
@media (min-width:992px){
    .desktop{
        background-color: gray;
        width: 33%;
        float: left;
        border: 1px solid black;
        margin-left: auto;
        margin-right: auto;
    }
}
@media (max-width:991px) and (min-width:768px){
    .tablet1{
        background-color: gray;
        width: 50%;
        float: left;
        border: 1px solid black;
        margin-left: auto;
        margin-right: auto;
    }
    .tablet2{
        background-color: gray;
        width: 100%;
        float: left;
        border: 1px solid black;
        margin-left: auto;
        margin-right: auto;
    }
}
@media (max-width:767px){
    .mobile{
        background-color: gray;
        width: 100%;
        float: left;
        border: 1px solid black;
        margin-left: auto;
        margin-right: auto;
    }
}
.row{
    width: 90%;
}
section{
    position: relative;
    padding: 10px;
    width: 100%;
    margin: 3px;
    margin-left: 1px;
    margin-right: 1px;
}
div{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
}
p{
    position: relative;
    clear: right;
}
.p1{
    background-color: pink;
    color: black;
    font-size:125%;
    font-weight: bold;
    border: 1px solid black;
    text-align:center;
    float: right;
    margin: 0;
    width: 70px;
    height: 25px;
}
.p2{
    background-color: red;
    color: white;
    font-size:125%;
    font-weight: bold;
    border: 1px solid black;
    text-align:center;
    float: right;
    margin: 0;
    width: 70px;
    height: 25px;
}
.p3{
    background-color: lightgoldenrodyellow;
    color: black;
    font-size:125%;
    font-weight: bold;
    border: 1px solid black;
    text-align:center;
    float: right;
    margin: 0;
    width: 70px;
    height: 25px;
}
.text{
    padding: 5px;
    margin: 0;
    overflow: auto;
    height: 200px;
}